
<div class="loginContainer">
  <h1>Login</h1>


  <p>
    <input type="text" placeholder="User Name">
  </p>
  <p>
    <input type="password" placeholder="Password">
  </p>

  <p>
      <input type="password" placeholder="Confirm Password">
    </p>
  <p>
    <button class="btn btn-login">Login</button>
  </p>
<div >
  <p>Input something in the input box:</p>
<p>Name:
  <!-- <input type="text" [(ngModel)]="name" placeholder="Enter Your Name here"> -->
</p>
<!-- <h1>Hello {{name}} </h1> -->
</div>

